GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=http://localhost:3000/api/setup/gmail
GMAIL_REFRESH_TOKEN=
MONGODB_URI=mongodb://localhost:27017/email-scheduler
ADMIN_PASSWORD=password
LOG_EMAIL=
TEST_EMAIL=
FROM_NAME=
NEXT_PUBLIC_APP_URL=http://localhost:3000
SESSION_PASSWORD=replace-with-at-least-32-characters
